.gambar-ikon{
    height: 40px;
    width: 40px;
}

.huruf-samping{
    font-size: 12px;
}
.huruf-tengah{
  font-size: 16px;
}

#button-in{
    min-width: 150px;
    min-height: 25px;
    border-radius: 25px;
}

/* tombol search */
input[type=text] {
  width: 100px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 400px;
  z-index: 999;
}



.bold{
    font-weight: bold;
    border-bottom: 2px;
    border-bottom-color: black !important;  
}

.dropbtn {
    font-size: 16px;
    border: none;
    background-color: #343A40;
    color: grey;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 9999;
    padding: 15px;
    min-width: 250px;
    font-size: 16px;
    border-radius: 2px;
  }
  
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    background-color:white;
    padding: 2px;
    margin: 2px;
   
  }
  
.dropdown-content a:hover {background-color:red;}
  
.dropdown:hover .dropdown-content {display: block;}
  

/* halaman oci */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-google {
background: #dd4b39;
color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

  
.espn{
  background-color: red;
  height: 100%;
  padding: 0;
  margin: 0;
}
.teks-style{
  text-decoration: none;
  font-style: inherit;
  color: black;
}