.gambar-ikon{
    height: 40px;
    width: 40px;
}
.huruf-samping{
    font-size: 12px;
}
#button-in{
    width: 200px;
    height: 40px;
    border-radius: 25px;
}
.bold{
    font-weight: bold;
    border-bottom: 2px;
    border-bottom-color: black !important;

}
.dropbtn {
    font-size: 16px;
    border: none;
    background-color: #343A40;
    color: grey;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 9999;
    padding: 15px;
    min-width: 200px;
    font-size: 16px;
  
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    background-color:white;
    padding: 2px;
   
  }
  
  .dropdown-content a:hover {background-color:red;}
  
  .dropdown:hover .dropdown-content {display: block;}
  /* .tombol-editions :hover{
      background-color: white;
      border-color: black;
  } */