.gambar-ikon{
    height: 40px;
    width: 40px;
}
.huruf-samping{
    font-size: 12px;
}
#button-in{
    width: 200px;
    height: 40px;
    border-radius: 25px;
}
.bold{
    font-weight: bold;
    border-bottom: 2px;
    border-bottom-color: black !important;
    
}

